<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kicker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushDeploymentKey</key>
	<string>W9XMbgXuC4T54vQo1TYrSoFppva9a8478316-b09e-413a-992a-5344050e410b</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>GothamPro-Black.otf</string>
		<string>GothamPro-Black.ttf</string>
		<string>GothamPro-Black.woff</string>
		<string>GothamPro-BlackItalic.otf</string>
		<string>GothamPro-BlackItalic.ttf</string>
		<string>GothamPro-BlackItalic.woff</string>
		<string>GothamPro-Bold.otf</string>
		<string>GothamPro-Bold.ttf</string>
		<string>GothamPro-Bold.woff</string>
		<string>GothamPro-BoldItalic.otf</string>
		<string>GothamPro-BoldItalic.ttf</string>
		<string>GothamPro-BoldItalic.woff</string>
		<string>GothamPro-Italic.otf</string>
		<string>GothamPro-Italic.ttf</string>
		<string>GothamPro-Italic.woff</string>
		<string>GothamPro-Light.otf</string>
		<string>GothamPro-Light.ttf</string>
		<string>GothamPro-Light.woff</string>
		<string>GothamPro-LightItalic.otf</string>
		<string>GothamPro-LightItalic.ttf</string>
		<string>GothamPro-LightItalic.woff</string>
		<string>GothamPro-Medium.otf</string>
		<string>GothamPro-Medium.ttf</string>
		<string>GothamPro-Medium.woff</string>
		<string>GothamPro-MediumItalic.otf</string>
		<string>GothamPro-MediumItalic.ttf</string>
		<string>GothamPro-MediumItalic.woff</string>
		<string>GothamPro.otf</string>
		<string>GothamPro.ttf</string>
		<string>GothamPro.woff</string>
		<string>GothamProNarrow-Bold.otf</string>
		<string>GothamProNarrow-Bold.ttf</string>
		<string>GothamProNarrow-Bold.woff</string>
		<string>GothamProNarrow-Medium.otf</string>
		<string>GothamProNarrow-Medium.ttf</string>
		<string>GothamProNarrow-Medium.woff</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
